scipy==1.15.1
fastapi==0.115.8
joblib==1.4.2
lightgbm==4.5.0
matplotlib==3.10.0
pandas==2.2.3
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn==1.6.1
shap==0.46.0
SQLAlchemy==2.0.38
tqdm==4.67.1
uvicorn==0.34.0
websockets==14.2
psycopg2-binary==2.9.10 
certifi==2025.1.31